@charset "UTF-8";
/* CSS Document */
/* Create two equal columns that floats next to each other */
    .column1 {
      float: left;
      width:30%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }
    .column2 {
      float: left;
      width: 70%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }
	.column3 {
      float: left;
      width: 10%;
	  padding: 10px;
 	  vertical-align: top;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }